/* 나눔스퀘어 */
@font-face {
    font-family: 'nanum-square';
    src: url('/assets/fonts/NanumSquare/NanumSquareL.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/NanumSquare/NanumSquareL.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/NanumSquare/NanumSquareL.woff2') format('woff2'), /* Modern Browsers */
         url('/assets/fonts/NanumSquare/NanumSquareL.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/NanumSquare/NanumSquareL.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/NanumSquare/NanumSquareL.svg#NanumSquareL') format('svg'); /* Legacy iOS */
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'nanum-square';
    src: url('/assets/fonts/NanumSquare/NanumSquareR.eot');
    src: url('/assets/fonts/NanumSquare/NanumSquareR.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/NanumSquare/NanumSquareR.woff2') format('woff2'),
         url('/assets/fonts/NanumSquare/NanumSquareR.woff') format('woff'),
         url('/assets/fonts/NanumSquare/NanumSquareR.ttf') format('truetype'),
         url('/assets/fonts/NanumSquare/NanumSquareR.svg#NanumSquareR') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'nanum-square';
    src: url('/assets/fonts/NanumSquare/NanumSquareB.eot');
    src: url('/assets/fonts/NanumSquare/NanumSquareB.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/NanumSquare/NanumSquareB.woff2') format('woff2'),
         url('/assets/fonts/NanumSquare/NanumSquareB.woff') format('woff'),
         url('/assets/fonts/NanumSquare/NanumSquareB.ttf') format('truetype'),
         url('/assets/fonts/NanumSquare/NanumSquareB.svg#NanumSquareB') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'nanum-square';
    src: url('/assets/fonts/NanumSquare/NanumSquareEB.eot');
    src: url('/assets/fonts/NanumSquare/NanumSquareEB.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/NanumSquare/NanumSquareEB.woff2') format('woff2'),
         url('/assets/fonts/NanumSquare/NanumSquareEB.woff') format('woff'),
         url('/assets/fonts/NanumSquare/NanumSquareEB.ttf') format('truetype'),
         url('/assets/fonts/NanumSquare/NanumSquareEB.svg#NanumSquareEB') format('svg');
    font-weight: 800;
    font-style: normal;
}