@use '../abstracts' as *;

/*-----------------------------------------------------------------------------------*/
/*  Main Page
/*-----------------------------------------------------------------------------------*/
.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: var(--color-blue-900);
  z-index: 1;
	inset: 0;

	#particles {
		width: 100%;
		height: 100%;
	}

  img {
    filter: brightness(0.3);
		width: 100%;
		height: 100%;
		object-fit: cover;
    will-change: transform;
  }
}

.intro-wrapper {
	position: relative;
	width: 100%;
	/* height: 600px; */
	height: calc(100vh - 72px);
	overflow: hidden;
	z-index: 3;

	#intro {
		position: absolute;
		padding: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: flex-end;
		padding-bottom: 100px;
		z-index: 3;
	}

	h1 {
		font-size: 5.5em;
		font-weight: 300;
		text-align: left;
		position: relative;
		color: #f0eee9;
		line-height: 1;
		margin-bottom: 30px;
    padding: 0;
	}

	p {
		color: #fff;
		font-weight: 400;
		font-size: 1.2rem;
		& > span {
			display: block;
		}
	}
}

/* 텍스트 마스크 효과 */
.split-text .line {
    overflow: hidden; /* 글자가 올라오는 통로 */
    display: block;
}



.btn-02-wrap {
    text-align: left;
    margin-top: 50px;
}
.btn-02-wrap a {
    display: inline-block;
    padding: 12px 30px;
    text-decoration: none;
    -webkit-transition: all 0.4s;
       -moz-transition: all 0.4s;
         -o-transition: all 0.4s;
            transition: all 0.4s;
}
.btn-02-wrap a:first-child {
    margin-right: 5px;
}
.btn-02-wrap a i {
    vertical-align: -2px;
}
.btn-border {
    border: 1px solid;
    background: transparent;
}
.btn-border.white {
    border-color: #fff;
    color: #fff;
}
.btn-border.white:hover {
    color: #fff;
    border-color: #385898;
}
.hvr-sweep-to-right.btn-border.white:before {
    background: #385898;
}

.btn-bg.white {
    border: 1px solid #fff;
}
.btn-bg.white {
    background: #fff;
    color: #16223b;
}

.btn:hover {
  color: #005544;
  border-color: #005544;
}

@media (max-width: 1199px) {
    .main-image-style-01 h1 {
        font-size: 4em;
    }
    .main-image-style-01 p {
        font-size: 1.1rem;
    }
}

@media (max-width: 991px) {
    .main-image-style-01 h1 {
        font-size: 3em;
    }
    .main-image-style-01 p {
        font-size: 1rem;
    }
}
@media (max-width: 767px) {
    #intro {
        left: 0;
        width: 100%;
    }
    .main-image-style-01 p > span {
        display: inline;
    }
    .main-image-style-01 h1 {
        font-size: 2.7em;
    }
    .main-image-style-01 p {
        font-size: 0.95rem;
    }
}
@media (max-width: 575px) {
    .main-image-style-01 h1 {
        font-size: 2em;
    }
    .main-image-style-01 p {
        font-size: 14px;
    }
}




body.lock {
  overflow: hidden;
  height: 100vh;
  .visual-stage {
    position: fixed;
    inset: 0;
    background: #000;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: all 1000ms ease-in-out;
  }
}

.visual-stage {
		position: relative;
    width: 100%;
    height: 100vh;
}
.scene {
  position: absolute;
  inset: 0;
  overflow: hidden;
  perspective: 1000px;
  // width: 100% !important;
  // height: 100% !important;
  // opacity: 1 !important;
  // transform: scale(1) !important;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    will-change: transform;
  }

  h2 {
  position: absolute;
  left: 60px;
  bottom: 80px;
  font-size: 48px;
  color: #fff;
  line-height: 1.2;
}
}

.char {
  display: inline-block;
  transform-style: preserve-3d;
}

/* 모바일 fallback */
@media (max-width: 1024px) {
  body.lock {
    overflow: auto;
  }
  .visual-stage {
    position: relative;
    height: auto;
  }
  .scene {
    position: relative;
    height: 100vh;
  }
}

// scene-progress
.scene-progress-wrapper {
	position: relative;
	height: 100%;

	.scene-progress {
		position: absolute;
		left: 40px;
		bottom: 40px;
		z-index: 11;

		.dots {
			display: flex;
			gap: 10px;
			align-items: center;

			.dot {
				width: 8px;
				height: 8px;
				border-radius: 50%;
				background: rgba(255,255,255,0.35);
				transition: all 0.35s ease;

				&.active {
					width: 26px;
					border-radius: 20px;
					background: $brand-color;
				}
			}
		}
	}
}

// .scroll-arrow {
//   position: fixed;
//   right: 40px;
//   bottom: 40px;
//   z-index: 11;
//   width: 42px;
//   height: 42px;
//   border-radius: 50%;
//   border: 1px solid rgba(255,255,255,0.4);
//   background: rgba(0,0,0,0.25);
//   color: $white;
//   font-size: 18px;
//   cursor: pointer;

//   display: flex;
//   align-items: center;
//   justify-content: center;

//   transition: all 0.3s ease;
// }

// .scroll-arrow:hover {
//   background: rgba(255,255,255,0.9);
//   color: $black;
//   transform: translateY(6px);
// }

.scroll-arrow {
  position: absolute;
  bottom: 40px;
  right: 40px;
  transform: translateX(-50%);
  z-index: 100;
  background: none;
  border: none;
  cursor: pointer;

  .circle-text-wrap {
    position: relative;
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;

    .rotating-text {
      position: absolute;
      width: 100%;
      height: 100%;
      animation: rotateCircle 10s linear infinite;

      text {
        fill: $white;
        font-size: 8.5px;
        font-weight: 300;
        letter-spacing: 2px;
        text-transform: uppercase;
        opacity: .8;
      }
    }

    i {
      color: #fff;
      font-size: 24px;
      transition: transform 0.3s;
    }
  }

  &:hover i {
    transform: translateY(5px);
  }
}

@keyframes rotateCircle {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body:not(.lock) .scroll-arrow {
  opacity: 0;
  pointer-events: none;
}






/* 모바일 */
@media (max-width: 1024px) {
  .visual-wrapper {
    position: relative;
  }
  .scene {
    position: relative;
    height: 100vh;
  }
  .scene-progress {
    display: none;
  }
  body.lock {
    overflow: auto;
  }
}





.icon-wrap {
    @include flex-align-center;
    justify-content: center;
    margin-bottom: 20px;;
    svg {
        width: 100px;
    }
}