@font-face {
  font-family: 'GmarketSans';
  font-weight: 700;
  font-display: swap;
  src: local("Gmarket Sans Bold"),
    url("/assets/fonts/GmarketSans/GmarketSansBold.woff2") format("woff2"),
    url("/assets/fonts/GmarketSans/GmarketSansBold.woff") format("woff");
}

@font-face {
  font-family: 'GmarketSans';
  font-weight: 500;
  font-display: swap;
  src: local("Gmarket Sans Medium"),
    url("/assets/fonts/GmarketSans/GmarketSansMedium.woff2") format("woff2"),
    url("/assets/fonts/GmarketSans/GmarketSansMedium.woff") format("woff");
}

@font-face {
  font-family: 'GmarketSans';
  font-weight: 300;
  font-display: swap;
  src: local("Gmarket Sans Light"),
    url("/assets/fonts/GmarketSans/GmarketSansLight.woff2") format("woff2"),
    url("/assets/fonts/GmarketSans/GmarketSansLight.woff") format("woff");
}