/*-----------------------------------------------------------------------------------*/
/*  Blog - /blog/
/*-----------------------------------------------------------------------------------*/
.blog-container {
    h1 {
        font-size: 2.5rem;
    }

    @media (min-width: 1200px) {
        h1 {
            font-size: 3.5rem;
        }
    }

    p {
        margin: 0;
        font-size: 15px;
    }

    // 블로그 타이틀
    .blog-title-wrapper {
        margin: 40px 0;
        text-align: center;
    }

    .each-blog-content {
        cursor: pointer;
    }

    // 블로그 카테고리
    .blog-category-wrapper {
        margin-bottom: 50px;
        .blog-category {
            ul {
                margin: 0;
                padding: 0;

                li {
                    display: block;
                }
            }

            a {
                display: inline-block;
                height: 35px;
                padding: 6px 12px;
                background: $white;
                color: $black;
                @include font-secondary
                font-size: 14px;
                font-weight: 500;
                border: 1px solid $black;
                border-radius: 17px;
                cursor: pointer;

                &.selected {
                    background: $black;
                    color: $white;
                }
            }

            .swiper-slide {
                width: auto;
            }

            @media (max-width: 767px) {
                position: relative;
                overflow: hidden;
                &::before {
                    content: "";
                    position: absolute;
                    top: 0px;
                    bottom: 0px;
                    left: 0px;
                    z-index: 2;
                    width: 20px;
                    background: linear-gradient(90deg, rgb(255, 255, 255) 15.71%, rgba(255, 255, 255, 0) 107.94%);
                    pointer-events: none;
                }
                &::after {
                    position: absolute;
                    content: "";
                    top: 0px;
                    right: 0px;
                    bottom: 0px;
                    z-index: 2;
                    width: 20px;
                    background: linear-gradient(270deg, rgb(255, 255, 255) 15.71%, rgba(255, 255, 255, 0) 107.94%);
                    pointer-events: none;

                }
                .swiper-wrapper {
                    flex-wrap: nowrap;
                }
            }
            @media (max-width: 669px) {
                .swiper-wrapper {
                    justify-content: flex-start !important;
                }
            }
        }

        // 키워드 검색
        .blog-keryword-search {
            .blog-keryword-search-box {
                background: $white;
                border: 1px solid $black;
                border-radius: 17px;
                @include flex-align-center;

                input {
                    font-size: 15px;
                    font-weight: 300;
                    border: 0;
                    padding: 5px 2px 5px 14px;
                    background: unset;
                    width: calc(100% - 30px);

                    &::placeholder {
                        color: #949494;
                    }
                }
                button {
                    border: 0;
                    background: unset;
                    font-size: 20px;
                    line-height: 1.4;
                }
            }

            @media (max-width: 991px) {
                margin-top: 20px;
                .blog-keryword-search-box {
                    max-width: 650px;
                    margin: 0 auto;
                }
            }
        }
    }



    // 공통
    .breadcrumbs-wrapper {
        font-size: 14px;
        nav {
            ul {
                padding: 0;
                li {
                    display: block;
                    position: relative;
                    color: $muted;
                    &::after {
                        content: "\e93e";
                        position: absolute;
                        top: 4px;
                        right: -7px;
                        font-family: xeicon;
                        display: inline-block;
                        speak: none;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 400;
                        font-variant: normal;
                        text-transform: none;
                        line-height: 1;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                    }
                    &:last-child {
                        &::after {
                            content: none;
                        }
                    }
                }
            }
        }
    }

    .blog-text {
        .category-title {
            display: block;
            @include font-secondary;
            font-size: 13px;
            font-weight: 500;
            color: $muted;
            margin-bottom: 5px;
            @media (max-width: 575px) {
                font-size: 12px;
            }
        }

        .blog-content-txt {
            overflow: hidden;
            text-overflow: ellipsis;
            word-wrap: break-word;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            p {
                font-weight: 300;
            }

            @media (max-width: 991px) {
                display: none;
            }
        }

        time {
            margin-top: 10px;
            display: block;
            color: var(--bs-gray-700);
            @include font-secondary;
            font-size: 13px;
            font-weight: 500;
        }
    }

    .read-article {
        margin-top: 25px;
        @media (max-width: 1365px) {
            margin-top: 20px;
        }
        @media (max-width: 1199px) {
            margin-top: 15px;
        }
        .hvr-icon-wobble-horizontal, .linked-article {
            cursor: pointer;
            display: block;
            @include font-secondary;
            color: $black;
            font-size: 13px;
            font-weight: 500;
            filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1'><defs><filter id='round'><feGaussianBlur in='SourceGraphic' stdDeviation='3' result='blur' /><feColorMatrix in='blur' mode='matrix' values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 19 -9' result='goo'/><feComposite in='SourceGraphic' in2='goo' operator='atop'/></filter></defs></svg>#round");

            .txt {
                height: 30px;
                background: #e0eaf5;
                padding: 7px 15px;
                border-radius: 14px;
            }
            .xi-arrow-right {
                width: 30px;
                height: 30px;
                background: #e0eaf5;
                font-size: 20px;
                padding: 7px;
                border-radius: 50%;
                font-size: 15px;
                margin-left: -5px;
                vertical-align: -1px;
            }
        }
    }

    .each-blog-content:not(.main-block) {
        .content-title {
            overflow: hidden;
            text-overflow: ellipsis;
            word-wrap: break-word;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }




    // 블로그 메인
    .blog-main-contents-wrapper {
        margin-bottom: 70px;
        @media (min-width: 1200px) {
            margin-bottom: 100px;
        }

        h3 {
            @media (max-width: 575px) {
                font-size: 16px;
            }

            @media (max-width: 767px) {
                font-size: 23px;
            }

            @media (min-width: 1200px) {
                font-size: 2rem;
            }
        }

        .blog-image, .blog-text {
            @media (min-width: 768px) {
                flex: 0 0 auto;
                width: 50%;
            }
        }

        .blog-image {
            img {
                border-radius: 20px;
            }

            @media (max-width: 767px) {
                position: relative;
                width: calc(100% + 24px);
                left: -12px;
                max-width: unset;
                img {
                    border-radius: 0;
                }
            }
        }
    }





    // Blog each block contents
    .blog-contents-wrapper {

        .subject-block {
            margin-bottom: 70px;

            @media (min-width: 1200px) {
                margin-bottom: 100px;
            }
            // .content-title {
            //     -webkit-line-clamp: 2;
            // }
            // .blog-content-txt {
            //     -webkit-line-clamp: 3;
            // }


            &.style-01 {
                & > .row {
                    & > .col-auto {
                        @media (min-width: 576px) {
                            width: 28%;
                            margin-top: 27px;
                        }

                        @media (min-width: 768px) {
                            width: 28%;
                            margin-top: 27px;
                        }
                        @media (min-width: 992px) {
                            width: 52%;
                            margin-top: 25px;
                        }

                        @media (min-width: 1200px) {
                            width: 56.5%;
                            margin-top: 50px;
                        }
                    }
                }
            }


            &.normal-style {
                .subject-title {
                    justify-content: space-between;
                    margin-bottom: 15px;
                    h2 {
                        font-size: 2rem;
                        font-style: normal;
                        letter-spacing: -2px;

                        @media (min-width: 1200px) {
                            font-size: 2.25rem;
                        }
                    }
                }

                .each-blog-content {
                    .blog-image {
                        position: relative;
                    }

                    .blog-text {
                        time {
                            @media (max-width: 575px) {
                                position: unset;
                                padding: 0;
                                margin-top: 0;
                            }
                        }
                    }

                    .read-article {
                        top: 10px;

                        @media (max-width: 575px) {
                            top: 7px;
                            right: 7px;
                        }
                    }

                }


                .linked-article {
                    display: inline-block;
                    vertical-align: middle;
                    -webkit-transform: perspective(1px);
                    transform: perspective(1px);
                    -webkit-transition-duration: 0.3s;
                    transition-duration: 0.3s;

                    &:hover, &:focus, &:active {
                        .xi-arrow-right {
                            -webkit-animation-name: linked-article;
                            animation-name: linked-article;
                            -webkit-animation-duration: 1s;
                            animation-duration: 1s;
                            -webkit-animation-timing-function: ease-in-out;
                            animation-timing-function: ease-in-out;
                            -webkit-animation-iteration-count: 1;
                            animation-iteration-count: 1;
                            transform: rotateZ(-45deg);
                            -webkit-transform: rotateZ(-45deg);
                        }
                    }

                    .xi-arrow-right {
                        transform: rotateZ(-45deg);
                        -webkit-transform: rotateZ(-45deg);
                    }
                }
            }
        }

        .subject-title {
            margin-bottom: 20px;
            align-items: baseline;
            @media (min-width: 1200px) {
                margin-bottom: 25px;
            }

            h2 {
                @include font-secondary;
                font-size: 2.5rem;
                font-style: oblique;
                font-weight: 600;
                letter-spacing: -2px;
                line-height: 1;

                @media (min-width: 1200px) {
                    font-size: 3.4rem;
                    letter-spacing: -3px;
                }
            }
        }

        .blog-image {
            img {
                border-radius: 20px;
            }
        }

        // 공통
        .blog-text {
            margin-top: 20px;
            h3 {
                font-size: 1.24rem;
                font-weight: 600;
                @media (max-width: 991px) {
                    font-size: 1.125rem;
                    font-weight: 500;
                }
                @media (max-width: 767px) {
                    font-size: 16px;
                }
                @media (max-width: 575px) {
                    font-size: 14px;
                }
            }
        }

        // 메인 컨텐츠
        @media (min-width: 768px) {
            .main-block {
                position: relative;
                .blog-image {
                    img {
                        border-radius: 20px;
                    }
                }
                .blog-text {
                    margin-top: 0;
                    // .blog-category-title {
                    //     margin-bottom: 8px;
                    //     span {
                    //         background: $white;
                    //         padding: 0px 5px 0 25px;
                    //         border-radius: 1px;
                    //         outline: 15px solid $white;
                    //         filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1'><defs><filter id='round'><feGaussianBlur in='SourceGraphic' stdDeviation='10' result='blur' /><feColorMatrix in='blur' mode='matrix' values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 19 -9' result='goo'/><feComposite in='SourceGraphic' in2='goo' operator='atop'/></filter></defs></svg>#round");
                    //         box-decoration-break: clone;
                    //         -webkit-box-decoration-break: clone;
                    //         word-break: break-word;
                    //         position: relative;
                    //         line-height: 1.3;
                    //         z-index: 1;
                    //     }
                    // }


                    h3 {
                        position: absolute;
                        bottom: 2px;
                        left: -1px;
                        width: 75%;
                        font-size: 1.6rem;
                        display: none;

                        .blog-content-title {
                            display: inline;
                            background: $white;
                            // border-radius: 12px;
                            padding: 6px 25px 15px;
                            box-decoration-break: clone;
                            -webkit-box-decoration-break: clone;
                            word-break: break-word;
                            position: relative;
                            line-height: 1.4;
                            filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1'><defs><filter id='round'><feGaussianBlur in='SourceGraphic' stdDeviation='6' result='blur' /><feColorMatrix in='blur' mode='matrix' values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 19 -9' result='goo'/><feComposite in='SourceGraphic' in2='goo' operator='atop'/></filter></defs></svg>#round");
                            z-index: 1;

                            .category-title {
                                display: inline;
                                &::after {
                                    content: "\A";
                                    white-space: pre;
                                }
                            }

                        }

                        // & > span {
                        //     padding: 20px 0;
                        //     background: $white;
                        //     border-radius: 12px;
                        //     filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1'><defs><filter id='round'><feGaussianBlur in='SourceGraphic' stdDeviation='7' result='blur' /><feColorMatrix in='blur' mode='matrix' values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 19 -9' result='goo'/><feComposite in='SourceGraphic' in2='goo' operator='atop'/></filter></defs></svg>#round");
                        //     span {
                        //         display: inline;
                        //         background: $white;
                        //         padding: 0 25px;
                        //         box-decoration-break: clone;
                        //         -webkit-box-decoration-break: clone;
                        //         word-break: break-word;
                        //         position: relative;
                        //         line-height: 1.3;
                        //         z-index: 1;
                        //     }
                        // }
                    }

                    .blog-category-title {
                        display: inline-block;
                    }

                    .read-article {
                        position: absolute;
                        bottom: 15px;
                        right: 15px;
                        z-index: 1;
                        .hvr-icon-wobble-horizontal, .linked-article {
                            .txt {
                                display: none;
                            }
                            .xi-arrow-right {
                                background: $white;
                            }
                        }

                    }
                }
                .blog-content-txt {
                    display: none;
                }

                time {
                    position: absolute;
                    right: 15px;
                    top: 0;
                    background: $white;
                    padding: 5px 15px;
                    border-radius: 18px;
                }
            }
        }


        .main-block {
            .blog-text {
                h3 {
                    @media (max-width: 767px) {
                        font-size: 18px;
                        width: 100% !important;
                    }
                    @media (max-width: 575px) {
                        font-size: 16px;
                    }
                }
            }
        }


        // 리스트 컨텐츠
        .each-blog-content:not(.main-block) {
            .blog-text {
                position: relative;
            }

            time {
                position: absolute;
                top: -65px;
                left: 10px;
                background: #fff;
                padding: 5px 15px;
                border-radius: 12px;
                font-size: 11px;
            }

            .read-article {
                position: absolute;
                top: -57px;
                right: 10px;
                z-index: 1;
                margin: 0;
                .hvr-icon-wobble-horizontal, .linked-article {
                    .txt {
                        display: none;
                    }
                    .xi-arrow-right {
                        background: $white;
                    }
                }
                @media (max-width: 575px) {
                    right: 7px;
                }
            }
        }


    }



    //////////////
    // 슬라이더 //
    /////////////
    .swiper-container {
        position: relative;
        overflow: hidden;

        @media (max-width: 767px) {
            overflow: unset;
        }
    }

    // 슬라이더 네이비게이션 제어
    .swiper-button-wrapper {
        filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1'><defs><filter id='round'><feGaussianBlur in='SourceGraphic' stdDeviation='3' result='blur' /><feColorMatrix in='blur' mode='matrix' values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 19 -9' result='goo'/><feComposite in='SourceGraphic' in2='goo' operator='atop'/></filter></defs></svg>#round");
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }
    .swiper-button-prev, .swiper-button-next {
        top: 40px;
        width: 30px;
        height: 30px;
        // border: 1px solid #ccc;
        background: #e0eaf5;
        border-radius: 50%;
        z-index: 1;

        &::after {
            font-size: 11px;
            color: $black;
        }
        &.swiper-button-disabled {
            opacity: 1;
            &::after {
                opacity: .35;
            }
        }
    }

    .swiper-button-prev {
        left: unset;
        right: 39px;
    }
    // 슬라이더 페이지네이션 제어
    .swiper-pagination {
        width: auto;
        bottom: 25px;
        left: calc(50% + 18px);
        z-index: 1;
    }
    .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        background: #d0d5d2;
        opacity: 1;
    }
    .swiper-pagination-bullet-active {
        width: 26px;
        transition: width .5s;
        border-radius: 5px;
        background: var(--bs-success);
        border: 1px solid transparent;
    }

    @media (max-width: 1365px) {
        .swiper-button-prev, .swiper-button-next {
            top: 22px;
        }
        .swiper-pagination {
            bottom: 10px;
        }
    }
    @media (max-width: 1199px) {
        .swiper-pagination {
            bottom: -5px;
        }
    }
    @media (max-width: 991px) {
        .swiper-pagination {
            left: calc(50% + 7px);
        }
    }
    @media (max-width: 767px) {
        .swiper-button-prev, .swiper-button-next {
            display: none;
        }
        .swiper-pagination {
            bottom: unset;
            left: -6px;
            width: 100%;
            text-align: left;
            position: relative;
            margin: 10px 0;
        }
    }

    .pagination-wrapper {
        margin-bottom: 100px;
    }



    // 더보기
    .view-more-wrapper {
        text-align: center;
        margin-bottom: 100px;

        button {
            @include font-secondary;
            font-weight: 500;
            line-height: 1;
            padding: 15px 50px;
            background: $white;
            border: 2px solid $black;
            border-radius: 24px;

            .count {
                font-family: $font-primary;
                letter-spacing: normal;
                font-size: 14px;
                color: $muted;
                margin-left: 7px;
            }
        }
    }

}




/*-----------------------------------------------------------------------------------*/
/*  카테고리별 리스트 페이지 - /blog/v1-master-blog-category/
/*-----------------------------------------------------------------------------------*/
.blog-category-list-container {
    .subject-block {
        &.style-01 {

            @media (min-width: 576px) {
                & > .row {
                    & > .col-auto {
                        width: 34% !important;
                    }
                }
            }

            @media (min-width: 768px) {
                & > .row {
                    & > .col-auto {
                        width: 29% !important;
                    }
                }
            }

            @media (min-width: 992px) {
                & > .row {
                    & > .col-auto {
                        width: 30% !important;
                    }
                }
            }

            @media (min-width: 992px) {
                & > .row {
                    & > .col-auto {
                        width: 52% !important;
                    }
                }
            }

            @media (min-width: 1200px) {
                & > .row {
                    & > .col-auto {
                        width: 56.5% !important;
                    }
                }
            }

            .subject-title {
                & > .col-auto {
                    width: unset !important;
                }
            }

            .each-blog-content {
                &.main-block {
                    position: relative;
                    .blog-text {
                        h3 {
                            background: $white;
                            display: block;
                            padding: 20px;
                            margin-bottom: 0;
                            bottom: 0;
                            border-top-right-radius: 20px;
                            filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1'><defs><filter id='round'><feGaussianBlur in='SourceGraphic' stdDeviation='3' result='blur' /><feColorMatrix in='blur' mode='matrix' values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 19 -9' result='goo'/><feComposite in='SourceGraphic' in2='goo' operator='atop'/></filter></defs></svg>#round");

                            .blog-content-title {
                                display: block;
                                background: unset;
                                padding: 0;
                                box-decoration-break: unset;
                                -webkit-box-decoration-break: unset;
                                word-break: unset;
                                position: unset;
                                line-height: inherit;
                                filter: unset;

                                .category-title, .content-title {
                                    display: block;
                                }
                            }

                            &::before {
                                position: absolute;
                                content: "";
                                top: -19px;
                                left: 0;
                                background: transparent;
                                width: 1.2rem;
                                height: 1.2rem;
                                border-bottom-right-radius: 2rem;
                                box-shadow: 0.313rem 0.313rem 0px 0.313rem $white;
                                transform: rotate(90deg);
                            }
                            &::after {
                                position: absolute;
                                content: "";
                                bottom: 0;
                                right: -19px;
                                background: transparent;
                                width: 1.2rem;
                                height: 1.2rem;
                                border-bottom-right-radius: 2rem;
                                box-shadow: 0.313rem 0.313rem 0px 0.313rem $white;
                                transform: rotate(90deg);
                            }
                        }

                        @media (max-width: 767px) {
                            h3 {
                                padding: 0;
                                background: unset;
                                border-radius: 0;
                                filter: unset;
                                &::before, &::after {
                                    content: none;
                                }
                            }
                        }
                    }

                    .read-article {
                        top: -4px;
                        margin: 0;
                        right: 0px;
                        width: auto;
                        height: 45px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        background: $white;
                        padding: 15px 0 15px 15px;
                        border-bottom-left-radius: 1.1rem;
                        z-index: 1;

                        &::before {
                            position: absolute;
                            content: "";
                            top: 4px;
                            left: -19px;
                            background: transparent;
                            width: 1.2rem;
                            height: 1.2rem;
                            border-bottom-right-radius: 2rem;
                            box-shadow: 0.313rem 0.313rem 0px 0.313rem $white;
                            transform: rotate(-90deg);
                        }
                        &::after {
                            position: absolute;
                            content: "";
                            bottom: -20px;
                            right: 0px;
                            background: transparent;
                            width: 1.2rem;
                            height: 1.2rem;
                            border-bottom-right-radius: 2rem;
                            box-shadow: 0.313rem 0.313rem 0px 0.313rem $white;
                            transform: rotate(-90deg);
                        }

                        @media (min-width: 768px) {
                            .xi-arrow-right {
                                background: #e0eaf5;
                            }
                        }

                        @media (max-width: 767px) {
                            position: absolute;
                            .txt {
                                display: none;
                            }
                        }
                    }

                    .blog-image {
                        @media (max-width: 991px) {
                            margin-bottom: 15px;
                        }
                    }
                }



                .linked-article {
                    display: inline-block;
                    vertical-align: middle;
                    -webkit-transform: perspective(1px);
                    transform: perspective(1px);
                    -webkit-transition-duration: 0.3s;
                    transition-duration: 0.3s;
                    z-index: 1;

                    &:hover, &:focus, &:active {
                        .xi-arrow-right {
                            -webkit-animation-name: linked-article;
                            animation-name: linked-article;
                            -webkit-animation-duration: 1s;
                            animation-duration: 1s;
                            -webkit-animation-timing-function: ease-in-out;
                            animation-timing-function: ease-in-out;
                            -webkit-animation-iteration-count: 1;
                            animation-iteration-count: 1;
                            transform: rotateZ(-45deg);
                            -webkit-transform: rotateZ(-45deg);
                        }
                    }

                    .xi-arrow-right {
                        transform: rotateZ(-45deg);
                        -webkit-transform: rotateZ(-45deg);
                    }
                }

                time {
                    left: 10px;
                    right: unset;
                }
            }

            .each-blog-content:not(.main-block) {
                display: flex;
                flex-wrap: wrap;
                margin-right: calc(-.5* var(--bs-gutter-x));
                margin-left: calc(-.5* var(--bs-gutter-x));
                .blog-image, .blog-text {
                    padding-right: calc(var(--bs-gutter-x)* .5);
                    padding-left: calc(var(--bs-gutter-x)* .5);
                }
                .blog-image {
                    width: 318px;
                }
                .blog-text {
                    width: auto;
                    flex: 1 0 0%;
                    margin-top: 8px;
                    .content-title, .blog-content-txt {
                        -webkit-line-clamp: 2;
                    }
                }

                time {
                    position: unset;
                    padding: 0;
                }

                .read-article {
                    margin-top: 15px;
                    top: unset;
                    bottom: 5px;
                    right: unset;
                    left: 10px;

                    .txt {
                        display: inline;
                        font-size: 12px;
                    }

                    .xi-arrow-right {
                        background: #e0eaf5;
                        font-size: 13px;
                        width: 29px;
                        height: 29px;
                    }
                }

                @media (max-width: 1199px) {
                    .blog-image {
                        width: 280px;
                    }
                    .blog-text {
                        .blog-content-txt {
                            display: none;
                        }
                    }
                }

                @media (max-width: 991px) {
                    .blog-image {
                        width: unset;
                        margin-bottom: 5px;
                    }

                    .read-article {
                        top: -64px;
                        bottom: unset;
                        right: 15px;
                        left: unset;
                        .txt {
                            display: none;
                        }
                        .xi-arrow-right {
                            background: $white;
                        }
                    }

                    time {
                        position: absolute;
                        padding: 5px 15px;
                        top: -57px;
                        left: 15px;
                    }
                }
            }
        }
    }
}





/*-----------------------------------------------------------------------------------*/
/*  카테고리별 컨텐츠 페이지 - /blog/v1-master-blog-category/content-title/
/*-----------------------------------------------------------------------------------*/
.blog-content-container {
    h1 {
        font-size: calc(1.375rem + 1.5vw);
        @media (min-width: 1200px) {
            font-size: 3.2rem;
        }
    }


    img {
        border-radius: 20px;
    }

    .content-title-wrapper {
        margin-bottom: 50px;
        @include font-secondary;
        font-size: 15px;
        font-weight: 500;
        h1 {
            font-weight: 600;
            margin-bottom: 15px;
        }
        ul {
            padding: 0;
            li {
                display: block;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    top: 8px;
                    right: -1px;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background: $black;
                }
                &:last-child {
                    &::after {
                        content: none;
                    }
                }
            }
        }
    }

    .content-image-wrapper {
        margin-bottom: 70px;
    }

    .contents-inner-wrapper {
        margin-bottom: 100px;

        .article-wrapper {
            color: $black;
            h2 {
                margin: 3rem 0 1rem;
                &:first-child {
                    margin-top: 0;
                }
            }
            p {
                font-size: 1rem;
                font-weight: 300;
                margin-bottom: 1rem;
            }
            img {
                margin: 2rem 0;
                border-radius: 20px;
            }

            h2 + img {
                margin-top: .5rem;
            }
        }
    }


    .related-article-wrapper {
        background: #f5f6f7;
        padding: 10px;
        border-radius: 20px;
        // box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
        @include sticky;
        top: 30px;

        h2 {
            @include font-secondary;
            font-size: 20px;
            font-weight: 600;
            padding: 15px 8px 0;
            margin: 0;
        }

        .each-blog-content {
            display: flex;
            flex-wrap: wrap;
            position: relative;
            padding: 20px 0;
            &::before {
                content: "";
                background: linear-gradient(to right, transparent, #ddd, transparent);
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 1px;
            }
            &:last-child {
                &::before {
                    content: none;
                }
            }

            .blog-image {
                order: 6;
                width: 130px;
                padding-right: calc(var(--bs-gutter-x)* .5);
                padding-left: calc(var(--bs-gutter-x)* .5);
                img {
                    border-radius: 10px;
                }

                @media (max-width: 1199px) {
                    width: 120px;
                }

                @media (max-width: 991px) {
                    order: 1;
                    width: 100%;
                }
            }
            .blog-text {
                order: 1;
                width: auto;
                flex: 1 0 0%;
                padding-right: calc(var(--bs-gutter-x)* .5);
                padding-left: calc(var(--bs-gutter-x)* .5);
                h3 {
                    font-size: 15px;
                    margin-bottom: 0;
                }
                .category-title {
                    font-size: 12px;
                    color: #82a0c5;
                }

                @media (max-width: 991px) {
                    order: 6;
                    width: 100%;
                    h3 {
                        margin-top: 10px;
                    }
                }
            }

            .blog-content-txt, time, .read-article {
                display: none;
            }
        }
    }
}






/*-----------------------------------------------------------------------------------*/
/*  검색한 결과 페이지 - /blog/searched/
/*-----------------------------------------------------------------------------------*/
.blog-searched-container {
    h1 {
        font-size: 2rem;

        @media (min-width: 768px) {
            font-size: 2rem;
        }

        @media (min-width: 992px) {
            font-size: 2.5rem;
        }

        @media (min-width: 1200px) {
            font-size: 3rem;
        }
    }
    .blog-category-wrapper {
        .blog-keryword-search {
            @media (max-width: 991px) {
                margin-top: var(--bs-gutter-y);
            }
        }
    }
}







/*-----------------------------------------------------------------------------------*/
/*  keyframes
/*-----------------------------------------------------------------------------------*/
@-webkit-keyframes linked-article {
  16.65% {
    -webkit-transform: translate3d(6px, -6px, 0px) rotateZ(-45deg);
    transform: translate3d(6px, -6px, 0px) rotateZ(-45deg);
  }
  33.3% {
    -webkit-transform: translate3d(-5px, 5px, 0px) rotateZ(-45deg);
    transform: translate3d(-5px, 5px, 0px) rotateZ(-45deg);
  }
  49.95% {
    -webkit-transform: translate3d(4px, -4px, 0px) rotateZ(-45deg);
    transform: translate3d(4px, -4px, 0px) rotateZ(-45deg);
  }
  66.6% {
    -webkit-transform: translate3d(-2px, 2px, 0px) rotateZ(-45deg);
    transform: translate3d(-2px, 2px, 0px) rotateZ(-45deg);
  }
  83.25% {
    -webkit-transform: translate3d(1px, -1px, 0px) rotateZ(-45deg);
    transform: translate3d(1px, -1px, 0px) rotateZ(-45deg);
  }
  100% {
    -webkit-transform: translate3d(0) rotateZ(-45deg);
    transform: translate3d(0) rotateZ(-45deg);
  }
}
@keyframes linked-article {
    16.65% {
      -webkit-transform: translate3d(6px, -6px, 0px) rotateZ(-45deg);
      transform: translate3d(6px, -6px, 0px) rotateZ(-45deg);
    }
    33.3% {
      -webkit-transform: translate3d(-5px, 5px, 0px) rotateZ(-45deg);
      transform: translate3d(-5px, 5px, 0px) rotateZ(-45deg);
    }
    49.95% {
      -webkit-transform: translate3d(4px, -4px, 0px) rotateZ(-45deg);
      transform: translate3d(4px, -4px, 0px) rotateZ(-45deg);
    }
    66.6% {
      -webkit-transform: translate3d(-2px, 2px, 0px) rotateZ(-45deg);
      transform: translate3d(-2px, 2px, 0px) rotateZ(-45deg);
    }
    83.25% {
      -webkit-transform: translate3d(1px, -1px, 0px) rotateZ(-45deg);
      transform: translate3d(1px, -1px, 0px) rotateZ(-45deg);
    }
    100% {
      -webkit-transform: translate3d(0) rotateZ(-45deg);
      transform: translate3d(0) rotateZ(-45deg);
    }
}
