/*-----------------------------------------------------------------------------------*/
/*  장바구니 - /cart/, /cart/v1-master-cart.asp
/*-----------------------------------------------------------------------------------*/
.cart-container {
    margin: 40px 0 70px;
    h1 {
        span {
            width: 24px;
        height: 24px;
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-left: 5px;
        font-size: 12px;
        color: $white;
        background: rgba(255, 0, 0, .9);
        border-radius: 50%;
        bottom: 5px;
        }
    }

    // 주문 옵션
    .item-detail-wrapper {
        .each-item {
            padding: 30px 0 35px;
            border-top: 1px solid #ddd;
            &:first-child {
                border-top: 0;
            }

            .item-title {
                justify-content: space-between;
                .title {
                    @include font-secondary;
                    font-size: 19px;
                    font-weight: 600;
                }

                .price {
                    width: 150px;
                    text-align: right;
                    display: flex;

                    span {
                        flex: 1 0 0%;
                    }
                    button {
                        padding: 0;
                        border: 0;
                        background: none;
                        width: 24px;
                        height: 24px;
                        position: relative;
                        bottom: 1px;
                        margin-left: 10px;
                        color: #555;
                        i {
                            font-size: 24px;
                        }
                    }
                }
            }
            .item-details {
                ul {
                    padding: 0;
                    margin: 15px 0 20px;
                    font-size: 15px;
                    font-weight: 300;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    li {
                        display: block;
                        .title {
                            width: 105px;
                            display: inline-block;
                            font-weight: 400;
                        }
                    }
                }
            }

            .btn-checkout-each-order {
                padding: 5px 20px;
                border-radius: 20px;
                border: 2px solid $black;
                font-size: 15px;
                font-weight: 400;
                color: $black;
                background: $white;
                &:hover{
                    background: #f5f5f5;
                }
            }
        }
    }

    // 우측 서머리
    .summary-wrapper {
        width: 400px;
        // margin: 25px 0;
        color: $black;
        border: 3px solid #eee;
        border-radius: 4px;
        padding: 25px;
        background: $white;
        box-shadow: 5px 5px 1px #f5f5f5;
        @include sticky;
        top: 30px;

        h5 {
            border-bottom: 2px solid $black;
            padding: 0 0 10px;
            margin-bottom: 20px;
        }

        .summary-details {
            .each-price {
                margin-bottom: 10px;
                padding-top: 10px;
                border-top: 1px solid #e9e9e9;
                &:first-child {
                    padding-top: 0;
                    border-top: 0;
                }
                .row {
                    justify-content: space-between;
                }
                .main {
                    font-size: 15px;
                    margin-bottom: 10px;
                }
                .sub {
                    font-size: 14px;
                    font-weight: 300;
                    color: #676767;
                    .each-item {
                        margin-bottom: 5px;
                        padding-top: 5px;
                        border-top: 1px dashed #eee;
                        &:first-child {
                            padding-top: 0;
                            border-top: 0;
                        }
                    }
                    p {
                        margin: 0;
                        font-size: 12px;
                        color: #999;
                    }
                }
            }
        }

        .total {
            font-size: 18px;
            font-weight: 600;
            margin-top: 20px;
            padding-top: 15px;
            border-top: 1px solid $black;
            .row {
                justify-content: space-between;
                align-items: end;
            }
        }

        .go-to-checkout {
            margin-top: 30px;
            button {
                width: 100%;
                padding: 10px;
                border: 1px solid $black;
                border-radius: 4px;
                background: $black;
                color: $white;
                font-size: 15px;
                font-weight: 300;
                &:hover {
                    background: $white;
                    color: $black;
                    font-weight: 400;
                }
            }
        }
    }


    // Cart Empty
    .cart-empty {
        & > div:last-child {
            display: none;
        }
    }

    .btn-shop-now {
        padding: 10px 40px;
        border-radius: 25px;
        border: 2px solid $black;
        font-size: 16px;
        font-weight: 400;
        color: $black;
        background: $white;
        &:hover {
            background: #f5f5f5;
        }
    }
}


// 반응형
@media (max-width: 1199px) {
    .cart-container {
        .summary-wrapper {
            width: 360px;
        }
    }
}
@media (max-width: 991px) {
    .cart-container {
        .summary-wrapper {
            // width: 300px;
            width: 100%;
        }
    }
}
@media (max-width: 767px) {
    .cart-container {
        .summary-wrapper {
            width: 100%;
        }
    }
}
