/*-----------------------------------------------------------------------------------*/
/*  주문 결제 - /checkout/, /v1-master-checkout.asp/
/*-----------------------------------------------------------------------------------*/
// 탑메뉴 타이틀
.checkout-title-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));

    .checkout-title {
        @include font-secondary;
        font-size: 26px;
        font-weight: 600;
        margin: 0;
    }
}


// 주문 결제
.checkout-container {
    padding: 0 0 90px;
    // background: #f3f5f7;
    // background: #f4f6f8;
    background: #f5f6f7;

    // 배송지등 정보 리스트
    .checkout-detail-wrapper {


        .each-detail-wrapper {
            margin-top: 50px;

            h4 {
                @include font-secondary;
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 15px;
            }
            .input-box {
                background: $white;
                padding: 30px 20px;
                border-radius: 6px;
                box-shadow: 0 4px 16px rgba(0, 0, 0, .03);
            }
        }

        .blind-shipping-info {
            display: none;
            margin-top: 30px;
        }
    }

    // 우측 서머리
    .summary-wrapper {
        width: 400px;
        // margin: 25px 0;
        color: $black;
        border: 3px solid #eee;
        border-radius: 4px;
        padding: 25px;
        background: $white;
        // box-shadow: 5px 5px 1px #f5f5f5;
        // @include sticky;

        // h5 {
        //     border-bottom: 2px solid $black;
        //     padding: 0 0 10px;
        //     margin-bottom: 20px;
        // }

        .summary-details {
            .total {
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 20px;
                padding-bottom: 15px;
                border-bottom: 2px solid $black;
                .row {
                    justify-content: space-between;
                    align-items: end;
                }
            }


            .each-price {
                margin-bottom: 15px;
                padding-bottom: 10px;
                border-bottom: 1px solid #e9e9e9;
                &:last-child {
                    border-bottom: 0;
                }
                .row {
                    justify-content: space-between;
                }
                .main {
                    font-size: 15px;
                    margin-bottom: 10px;
                }
                .sub {
                    font-size: 14px;
                    font-weight: 300;
                    color: #676767;
                    .each-item {
                        margin-bottom: 8px;
                        padding-top: 8px;
                        border-top: 1px dashed #eee;
                        &:first-child {
                            padding-top: 0;
                            border-top: 0;
                        }
                    }
                    p {
                        margin: 0;
                        font-size: 12px;
                        color: #999;
                    }
                }

                .count {
                    background-color: rgba(255, 0, 0, 0.9);
                    border-radius: 50%;
                    color: $white;
                    font-size: 9px;
                    width: 18px;
                    height: 18px;
                    line-height: 18px;
                    display: block;
                    position: absolute;
                    top: 1px;
                    right: -12px;
                    text-align: center;
                    white-space: nowrap;
                }
            }
        }

    }

}



// pay button
.pay-order-wrapper {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    padding: 20px 0 20px;
    background-color: $white;
    box-shadow: 0px -4px 16px 0px rgba(0, 0, 0, .1);

    .pay-btn-wrapper {
        width: 400px;
    }
    .pay-now {
        // margin-top: 20px;
        button {
            width: 100%;
            padding: 12px 10px;
            border: 1px solid $black;
            border-radius: 4px;
            background: $black;
            color: $white;
            font-size: 17px;
            // font-weight: 300;
            &:hover {
                background: $white;
                color: $black;
                font-weight: 400;
            }
        }
    }
}


body.checkout {
    padding-bottom: 70px;
}

.go-to-cart-wrapper {
    margin-top: 50px;
    a {
        display: block;
        padding: 10px 30px;
        border-radius: 25px;
        border: 2px solid $black;
        font-size: 16px;
        font-weight: 400;
        color: $black;
        background: $white;
        &:hover {
            background: #f5f5f5;
        }
    }
}


// 반응형
@media (max-width: 1199px) {
    .checkout-container {
        .summary-wrapper, .pay-btn-wrapper {
            width: 360px;
        }
    }
}
@media (max-width: 991px) {
    .checkout-container {
        .summary-wrapper, .pay-btn-wrapper {
            width: 320px;
            // width: 100%;
        }
    }
}
@media (max-width: 767px) {
    .checkout-container {
        .summary-wrapper, .pay-btn-wrapper {
            width: 100%;
        }
    }

    body.checkout {
        padding-bottom: 100px;
    }

    .pay-order-wrapper {
        padding-bottom: 40px;

        .pay-now {
            button {
                font-weight: 300px;
            }
        }
    }
}
