/*-----------------------------------------------------------------------------------*/
/*  Contact us - /contact-us/
/*-----------------------------------------------------------------------------------*/
.contact-container {
    padding: 10px 0 100px;
    font-weight: 300;
    background: #e7f0ff;

    @media (min-width: 1200px) {
        padding: 45px 0 100px;
        background: #e7f0ff;
    }

    input, .select2-container.select2-container--default .select2-selection--single, textarea {
        border-radius: 10px;
    }

    .select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
    .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .title-wrapper {
        h1 {
            @include font-secondary;
            font-weight: 600;
            letter-spacing: -2px;
            margin-bottom: 15px;
            @media (max-width: 991px) {
                letter-spacing: -1.5px;
            }
            @media (min-width: 1200px) {
                font-size: 3.4rem;
                letter-spacing: -3px;
            }
        }
        h2 {
            @include font-secondary;
            font-weight: 600;
        }
        p {
            margin-bottom: 0;
        }
    }

    .info-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        .info-text {
            margin-top: 70px;

            h5 {
                font-size: 1.1rem;
                @media (min-width: 1400px) {
                    font-size: 1.25rem;
                }
            }
            p {
                font-size: 15px;
                @media (min-width: 1400px) {
                    font-size: 1rem;
                }
            }

            // border
            // @media (max-width: 1199px) {
            //     & > .row {
            //         & > div:not(:last-child) {
            //             & > div {
            //                 position: relative;
            //                 &::before, &::after {
            //                     content: "";
            //                     position: absolute;
            //                     bottom: -2rem;
            //                 }
            //                 &::before {
            //                     width: 100%;
            //                     height: 1px;
            //                     background: linear-gradient(to right, transparent, $style-gray, transparent);
            //                 }
            //                 &::after {
            //                     content: "\2022";
            //                     line-height: 1px;
            //                     color: $style-gray;
            //                     background: $white;
            //                     padding: 0 10px;
            //                     left: calc(50% - 1px);
            //                 }
            //             }
            //         }
            //     }
            // }
        }
    }


    .inquiry-wrapper {
        padding: 30px;
        background: $white;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, .1) 0 0.6rem 3rem;
        @media (max-width: 991px) {
            padding: 30px 20px 20px;
        }

        .input-form {
            margin-top: 30px;

            .each-input-box {
                margin-top: 1rem;

                textarea {
                    height: 110px;
                }
            }
        }
    }

    .dropzone + p {
        color: $blue-gray;
    }


    .btn-wrapper {
        margin-top: 30px;
        button {
            width: 100%;
            padding: 15px 10px;
            font-size: 15px;
            /* font-weight: 300; */
            line-height: 1;
            color: $white;
            background: $black;
            border: 0;
            border-radius: 22px;
        }
    }

    .agree-info {
        margin-top: 10px;
        font-size: 14px;
        text-align: center;
        color: $muted;
    }
}
