/*-----------------------------------------------------------------------------------*/
/*  Current Orders - /customer/orders/
/*-----------------------------------------------------------------------------------*/
.customer-order-container {
    .order-content {
        p {
            margin: 0;
        }
        .order-search {
            button {
                border: 1px solid #ccc;
                border-radius: 50%;
                background: $white;
                color: $black;
                font-size: 20px;
                width: 33px;
                max-width: 33px;
                height: 33px;
                padding: 0;
                padding-left: 2px;
            }
        }
        .order-sort-search {
            .order-sort {
                ul {
                    margin: 0;
                    padding: 0;

                    li {
                        display: block;
                    }
                }

                .checkbox-input {
                    display: none;

                    &:checked {
                        & + .checkbox-label {
                            background: $black;
                            color: $white;

                            .count {
                                color: $success;
                            }

                            &[for=canceled] {
                                .count {
                                    color: var(--bs-red);
                                }
                            }
                        }
                    }
                }
                .checkbox-label {
                    height: 31px;
                    padding: 6px 12px;
                    background: #f1f4f6;
                    color: #767678;
                    @include font-secondary
                    font-size: 13px;
                    font-weight: 500;
                    border: 0;
                    border-radius: 15px;
                    cursor: pointer;

                    .count {
                        margin-left: 5px;
                        color: var(--bs-success);
                    }

                    &[for=canceled] {
                        .count {
                            color: $red;
                        }
                    }
                }

                .swiper-slide {
                    width: auto;
                }

                @media (max-width: 575px) {
                    position: relative;
                    overflow: hidden;
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0px;
                        bottom: 0px;
                        left: 0px;
                        z-index: 2;
                        width: 20px;
                        background: linear-gradient(90deg, rgb(255, 255, 255) 15.71%, rgba(255, 255, 255, 0) 107.94%);
                        pointer-events: none;
                    }
                    &::after {
                        position: absolute;
                        content: "";
                        top: 0px;
                        right: 0px;
                        bottom: 0px;
                        z-index: 2;
                        width: 20px;
                        background: linear-gradient(270deg, rgb(255, 255, 255) 15.71%, rgba(255, 255, 255, 0) 107.94%);
                        pointer-events: none;

                    }
                    .swiper-wrapper {
                        flex-wrap: nowrap;
                    }
                }
            }
        }



        // 주문리스트
        .each-order-wrapper {
            margin-top: 35px;
            .each-order-box {
                padding-top: 20px;
            }
        }

        .order-status {
            .btn-delete-order {
                padding: .25em .25em;
                line-height: 1;
                background: unset;
                border: 0;
                font-size: 16px;
                color: #777;
            }
        }

        .order-list, .contents {
            margin-top: 20px;

            dl {
                font-size: 15px;

                dt, dd {
                    display: inline-block;
                    margin: 0;
                }

                dt {
                    width: 80px;
                    vertical-align: top;
                    font-weight: 500;
                    color: #888;
                }
                dd {
                    font-weight: 300;
                    width: calc(100% - 80px);
                }
                p {
                    margin: 0;
                }
            }


        }

        .order-detail {
            h5 {
                margin-bottom: 5px;
            }
            p {
                font-size: 15px;
                font-weight: 300;
            }
            .title {
                color: $muted;
                font-weight: 400;
                margin-right: 5px;
            }
        }

        .btn-wrapper {
            margin-top: 20px;
            a, button {
                display: block;
                width: 100%;
                border: 1px solid #ddd;
                border-radius: 4px;
                background: #f1f4f6;
                color: $black;
                text-align: center;
                font-size: 15px;
                font-weight: 300;
                padding: 7px 10px;
                &:hover {
                    border-color: $black;
                }
            }
        }

        .one-btn {
            margin-top: 20px;
            button, a {
                display: inline-block;
                padding: 5px 30px;
                border-radius: 20px;
                border: 2px solid $black;
                font-size: 15px;
                font-weight: 400;
                color: $black;
                background: $white;
                &:hover {
                    background: #f5f5f5;
                }
            }

            @media (max-width: 991px) {
                button, a {
                    display: block;
                    text-align: center;
                }
            }
        }

    }

}
/*-----------------------------------------------------------------------------------*/
/*  주문상세 - /customer/orders/detail/
/*-----------------------------------------------------------------------------------*/
.order-detail-container {

    .order-content {
        p {
            margin: 0;
        }

        .item-dp-wrapper {
            cursor: pointer;

            .item-dp-icons {
                .item-show {
                    display: none;
                    .order-count {
                        font-family: $font-primary;
                        font-size: 15px;
                        color: var(--bs-success);
                        vertical-align: 2px;
                        margin-right: 5px;
                    }
                }
            }

            &.hidden-contents {
                &.header {
                    margin-bottom: 0;
                    padding-bottom: 0;

                    &::after {
                        content: none;
                    }
                }

                .item-dp-icons {
                    .item-hide {
                        display: none;
                    }
                    .item-show {
                        display: block;
                    }
                }

            }
        }

        .contents {
            .amount-list {
                ul {
                    margin: 5px 0 0;
                    padding-left: 10px;
                    border-left: 4px solid #edeff2;
                    font-size: 15px;
                    font-weight: 500;
                    color: #888;
                    li {
                        @include flex-align-center;
                        justify-content: space-between;
                    }
                }
            }
        }
    }
}



// Modal - Order filter search - /customer/include/modal-order-filter-search.asp
.order-filter-search-container {
    .modal-dialog {
        @media (min-width: 992px) {
            --bs-modal-width: 700px;
        }
    }
    // 모달 헤드
    .keyword-search-wrapper {
        .btn-close-wrapper {
            button {
                height: 50px;
                padding: 10px 10px 9px 16px;
                font-size: 28px;
                line-height: 1;
                border: 0;
                background: unset;
                border-bottom: 1px solid #dcdee0;
            }
        }

        .keyword-input-wrapper {
            position: relative;
            input {
                font-size: 17px;
                line-height: 23px;
                display: block;
                width: 100%;
                padding: 14px 0 12px;
                font-weight: 600;
                color: #1e1e23;
                caret-color: #404048;
                border: 0;
                border-bottom: 1px solid #dcdee0;

                &::placeholder {
                    color: #aaa;
                }

                &:focus {
                    border-bottom: 1px solid black;
                }
                // IE
                &::-ms-clear,
                &::-ms-reveal {
                    display:none;
                }
                // 크롬
                &::-webkit-search-decoration,
                &::-webkit-search-cancel-button,
                &::-webkit-search-results-button,
                &::-webkit-search-results-decoration {
                    display:none;
                }

                &.clear-input--touched {
                    & + .clear-keyword {
                        display: block;
                    }
                }
            }

            .clear-keyword {
                display: none;
                position: absolute;
                top: 0;
                right: 0;
                padding: 13px 9px 11px;
                font-size: 24px;
                color: #929294;
                line-height: 1;
                border: 0;
                background: unset;
            }
        }

        .btn-search-wrapper {
            button {
                padding: 12px 16px 11px 11px;
                font-size: 25px;
                line-height: 1;
                border: 0;
                background: unset;
                border-bottom: 1px solid #dcdee0;
            }
        }

    }


    //모달 바디
    .modal-body {
        padding-top: 0;
        padding-bottom: 0;
    }
    .each-wrapper {
        margin-top: 30px;
    }

    // 달력 검색
    .filter-calendar {
        margin-top: 10px;
        border: 1px solid $black;
        border-radius: 4px;

        .calendar-box {
            & > div {
                position: relative;
            }

            input {
                border: 0;
                line-height: 1.6;
                &:hover {
                    background: unset;
                }
            }

            .icon-calendar {
                position: absolute;
                top: 10px;
                right: 5px;
                span {
                    font-size: 20px;
                    color: #555;
                }
            }
        }

    }


    // 주문상태로 검색
    .order-sort-search {
        ul {
            margin: 0;
            padding: 0;

            li {
                display: block;
            }
        }

        .checkbox-input {
            display: none;

            &:checked {
                & + .checkbox-label {
                    background: $white;
                    border: 1px solid $black;
                    color: $black;
                }
            }
        }
        .checkbox-label {
            padding: 6px 12px;
            background: #f1f4f6;
            color: #3f3f3f;
            @include font-secondary
            font-size: 13px;
            font-weight: 500;
            border: 1px solid #eaeaea;
            border-radius: 16px;
            cursor: pointer;
        }
    }
}
