/*-----------------------------------------------------------------------------------*/
/*  Datepicker & Daterangepicker
/*-----------------------------------------------------------------------------------*/
// jQuery UI Datepicker
.ui-datepicker {
    .ui-widget-header {
        background: unset;
        border: 0;
        font-weight: 400;
    }

    .ui-datepicker-prev, .ui-datepicker-next {
        cursor: pointer;
        font-family: xeicon;
        speak: none;
        font-style: normal;
        font-weight: 400;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        @include flex-align-center;
        justify-content: center;
        span {
            display: none;
        }
    }

    .ui-datepicker-prev-hover, .ui-datepicker-next-hover {
        top: 2px;
    }

    .ui-datepicker-prev {
        left: unset;
        right: 35px;
        &::before {
            content: "\e93b";
        }
    }
    .ui-datepicker-next {
        &::before {
            content: "\e93e";
        }
    }

    .ui-datepicker-title {
        width: calc(100% - 80px);
        margin: 0;
        // font-size: 15px;
        text-align: left;

        select {
            border: 0;
        }
    }
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
    border: 0;
    background: unset;
    color: $black;
}

.ui-widget {
    &.ui-widget-content {

    }
}





// Bootsrap datepicker
.datepicker {
    padding: 10px;

    &::before, &::after {
        content: none;
    }
    thead {
        th {
            &.prev, &.next {
                color: transparent;
                cursor: pointer;
                font-family: xeicon;
                speak: none;
                font-style: normal;
                font-weight: 400;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                // @include flex-align-center;
                // justify-content: center;
                // position: absolute;

                &.prev, &.next {
                    &::before {
                        // position: absolute;
                        color: var(--bs-primary);
                    }
                }

                &.prev {
                    // right: 35px;
                    &::before {
                        content: "\e93b";
                    }
                }
                &.next {
                    // justify-content: end;
                    &::before {
                        content: "\e93e";
                    }
                }

                &:hover {
                    background: unset !important;
                }
            }
            &.datepicker-switch {
                // position: relative;
                // left: -25px;
                font-size: 15px;
                font-weight: 500;
                text-align: left;
                color: $black;
                padding-left: 10px;
                vertical-align: middle;

                // &::after {
                //     font-family: xeicon;
                //     speak: none;
                //     font-style: normal;
                //     font-weight: 400;
                //     font-variant: normal;
                //     text-transform: none;
                //     line-height: 1;
                //     -webkit-font-smoothing: antialiased;
                //     @include flex-align-center;
                //     justify-content: center;
                //     position: absolute;
                //     content: "\e93e";
                //     top: 5px;
                //     right: 0px;
                // }

                &:hover {
                    background: unset !important;
                }
            }
        }
    }

    table {
        tr {
            th, td {
                width: 38px;
                height: 38px;
            }

            td {
                span {
                    font-size: 15px;
                    font-weight: 300;
                    color: $black;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    line-height: 50px;

                    &.year, &.hour, &.minute, &.month {
                        &.focused, &.active, &.active.focused {
                            background: var(--bs-primary);
                        }
                    }
                }
            }
        }

        tbody {
            tr {
                & > td {
                    &.day {
                        color: $black;
                        border-radius: 50%;
                        line-height: 36px;
                        &:hover {
                            color: $black;
                        }

                        &.selected, &.selected:hover, &.active, &.active:hover {
                            background: var(--bs-primary);
                            border-radius: 50%;
                        }
                    }
                    span {
                        &.year, &.hour, &.minute, &.month {
                            color: $black;

                            &.focused, &.active, &.active.focused {
                                background: var(--bs-primary);
                                &:hover {
                                    background: var(--bs-primary);
                                }
                            }
                        }
                    }
                }
            }
        }
    }



    tfoot {
        tr {
            th.clear {
                font-size: 14px;
                font-weight: 300;
                color: $black;
                background: #f1f4f6;
                &:hover {
                    background: #e1e8ed;
                }
            }
        }
    }

    .datepicker-days {
        font-size: 15px;
        font-weight: 300;
    }
}

.datepicker-dropdown {
    border: 0;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
    box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
}





// Daterangepicker
.daterangepicker {
    .input-mini {
        width: 100% !important;
        border: 1px solid #ccc;
        border-radius: 4px;
        color: #555;
        height: 30px;
        line-height: 30px;
        display: block;
        vertical-align: middle;
        margin: 0 0 5px 0;
        padding: 0 6px 0 28px;
        width: 100%;

        &.active {
            border: 1px solid $brand-color-hover !important;
            border-radius: 4px;
        }
    }
    .ranges {
        ul {
            margin-bottom: 20px;
            li {
                font-size: 13px;
                background-color: #fff !important;
                border: 0 !important;
                border-radius: 3px !important;
                color: $main-color !important;
                padding: 8px 12px !important;
                margin-bottom: 0 !important;
                cursor: pointer;

                &:hover {
                    background-color: $brand-color-hover !important;
                    border: 0 !important;
                    color: #fff !important;
                }
                &.active {
                    background-color: #fff !important;
                    border: 0 !important;
                    color: $brand-color-hover !important;
                }
            }
        }
    }
    td, th {
        padding: 6px 0;
        font-size: 13px;
    }
    td {
        &.in-range {
            background-color: $brand-color-20 !important;
            border-color: transparent;
            color: #000;
            border-radius: 0;
        }
        &.active, &.active:hover {
            background-color: $brand-color-hover !important;
            border-color: transparent;
            color: #fff;
        }
    }
}
.range_inputs button {
    width: calc((100% - 4px) / 2);
}
.button.button-mini {
    padding: 0 14px;
    font-size: 11px;
    height: 28px;
    line-height: 28px;
}
.applyBtn {
    background: $main-color;
    border: 1px solid $main-color;
    font-weight: 400;
    text-shadow: none;
    letter-spacing: 0.3px;
    border-radius: 2px !important;
    color: #fff;
    text-transform: uppercase;
}
.cancelBtn {
    background: #fff;
    font-weight: 400;
    text-shadow: none;
    letter-spacing: 0.3px;
    border: 1px solid $main-color;
    border-radius: 2px !important;
    text-transform: uppercase;
}
.applyBtn.button:hover {
    background-color: #414552;
    color: #fff;
    border: 1px solid #414552;
    text-shadow: none;
}
.cancelBtn.button:hover {
    background-color: #eee;
    color: inherit;
    border: 1px solid #ddd;
}
.order-type-search input {
    font-size: 0.875rem;
}
.order-type-search button {
    font-size: 14px;
    padding: 9px 12px;
}
.input-group .input-group-addon *[class^="l-icon-"] {
    font-size: 20px;
}
@media screen and (max-width: 729px) {
    .daterangepicker .calendar {
        padding-top: 20px;
    }
}
