/*-----------------------------------------------------------------------------------*/
/*  Drop Zone
/*-----------------------------------------------------------------------------------*/
.dropzone,
.dropzone * {
  box-sizing: border-box;
}
.dropzone {
  // float: left;
  width: 100%;
  // min-height: 150px;
  border: 2px dashed #cbd5e1;
  background: $white;
  padding: 20px 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: background-color 100ms linear;
  -moz-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  -o-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}
.dropzone:hover {
  background: #f2f2f2;
}
.dropzone.dz-clickable {
  cursor: pointer;
}
.dropzone.dz-clickable * {
  cursor: default;
}
.dropzone.dz-clickable .dz-message,
.dropzone.dz-clickable .dz-message * {
  cursor: pointer;
}
.dropzone.dz-started .dz-message {
  display: none;
}
.dropzone.dz-drag-hover {
  border-style: solid;
}
.dropzone.dz-drag-hover .dz-message {
  opacity: 0.5;
}
.dropzone .dz-message {
  text-align: center;
  margin: 2em 0;
}
.dropzone .dz-preview {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  min-height: 100px;
}
.dropzone .dz-preview:hover {
  z-index: 1000;
}
.dropzone .dz-preview:hover .dz-details {
  opacity: 1;
}
.dropzone .dz-preview.dz-file-preview .dz-image {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #999;
  background: linear-gradient(to bottom, #eee, #ddd);
}
.dropzone .dz-preview.dz-file-preview .dz-details {
  opacity: 1;
}
.dropzone .dz-preview.dz-image-preview {
  background: white;
}
.dropzone .dz-preview.dz-image-preview .dz-details {
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.dropzone .dz-preview .dz-remove {
  font-size: 14px;
  text-align: center;
  display: block;
  cursor: pointer;
  border: none;
}
.dropzone .dz-preview .dz-remove:hover {
  text-decoration: underline;
}
.dropzone .dz-preview:hover .dz-details {
  opacity: 1;
}
.dropzone .dz-preview .dz-details {
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  font-size: 13px;
  min-width: 100%;
  max-width: 100%;
  padding: 2em 1em;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
  line-height: 150%;
}
.dropzone .dz-preview .dz-details .dz-size {
  margin-bottom: 1em;
  font-size: 16px;
}
.dropzone .dz-preview .dz-details .dz-filename {
  white-space: nowrap;
}
.dropzone .dz-preview .dz-details .dz-filename:hover span {
  border: 1px solid rgba(200, 200, 200, 0.8);
  background-color: rgba(255, 255, 255, 0.8);
}
.dropzone .dz-preview .dz-details .dz-filename:not(:hover) {
  overflow: hidden;
  text-overflow: ellipsis;
}
.dropzone .dz-preview .dz-details .dz-filename:not(:hover) span {
  border: 1px solid transparent;
}
.dropzone .dz-preview .dz-details .dz-filename span,
.dropzone .dz-preview .dz-details .dz-size span {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0 0.4em;
  border-radius: 3px;
}
.dropzone .dz-preview:hover .dz-image img {
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
  -webkit-filter: blur(8px);
  filter: blur(8px);
}
.dropzone .dz-preview .dz-image {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  width: 120px;
  height: 120px;
  position: relative;
  display: block;
}
.dropzone .dz-preview .dz-image img {
  display: block;
}
.dropzone .dz-preview.dz-success .dz-success-mark {
  -webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  -o-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
}
.dropzone .dz-preview.dz-error .dz-error-mark {
  opacity: 1;
  -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  -o-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
}
.dropzone .dz-preview .dz-success-mark,
.dropzone .dz-preview .dz-error-mark {
  pointer-events: none;
  opacity: 0;
  z-index: 500;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin-left: -27px;
  margin-top: -27px;
}
.dropzone .dz-preview .dz-success-mark svg,
.dropzone .dz-preview .dz-error-mark svg {
  display: block;
  width: 54px;
  height: 54px;
}
.dropzone .dz-preview.dz-processing .dz-progress {
  opacity: 1;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.dropzone .dz-preview.dz-complete .dz-progress {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in;
  -moz-transition: opacity 0.4s ease-in;
  -ms-transition: opacity 0.4s ease-in;
  -o-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
}
.dropzone .dz-preview:not(.dz-processing) .dz-progress {
  -webkit-animation: pulse 6s ease infinite;
  -moz-animation: pulse 6s ease infinite;
  -ms-animation: pulse 6s ease infinite;
  -o-animation: pulse 6s ease infinite;
  animation: pulse 6s ease infinite;
}
.dropzone .dz-preview .dz-progress {
  opacity: 1;
  z-index: 1000;
  pointer-events: none;
  position: absolute;
  height: 16px;
  left: 50%;
  top: 50%;
  margin-top: -8px;
  width: 80px;
  margin-left: -40px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transform: scale(1);
  border-radius: 8px;
  overflow: hidden;
}
.dropzone .dz-preview .dz-progress .dz-upload {
  background: #333;
  background: linear-gradient(to bottom, #666, #444);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  -webkit-transition: width 300ms ease-in-out;
  -moz-transition: width 300ms ease-in-out;
  -ms-transition: width 300ms ease-in-out;
  -o-transition: width 300ms ease-in-out;
  transition: width 300ms ease-in-out;
}
.dropzone .dz-preview.dz-error .dz-error-message {
  display: block;
}
.dropzone .dz-preview.dz-error:hover .dz-error-message {
  opacity: 1;
  pointer-events: auto;
}
.dropzone .dz-preview .dz-error-message {
  pointer-events: none;
  z-index: 1000;
  position: absolute;
  display: block;
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  border-radius: 8px;
  font-size: 13px;
  top: 130px;
  left: -10px;
  width: 140px;
  background: #be2626;
  background: linear-gradient(to bottom, #be2626, #a92222);
  padding: 0.5em 1.2em;
  color: white;
}
.dropzone .dz-preview .dz-error-message:after {
  content: '';
  position: absolute;
  top: -6px;
  left: 64px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #be2626;
}
.dropzone .dz-message .dropzone-preupload-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  font-style: italic;
  color: #454545;
}
// .dropzone .dz-message p {
//   font-size: 13px;
//   color: #7F8FA4;
//   font-weight: 600;
// }
.dropzone:hover .dz-message .dropzone-preupload-title {
  color: #1B2431;
}
.dropzone-tiny .dz-message {
  position: relative;
}
.dropzone-tiny .dz-message:before {
  position: absolute;
  content: "\f0ed";
  font-family: "FontAwesome";
  font-size: 98px;
  width: 100px;
  height: 100px;
  left: 50%;
  top: 50%;
  margin: -20px 0px 0px -50px;
  text-align: center;
  line-height: 100px;
  color: #454545;
  -webkit-transition: color 100ms linear;
  -moz-transition: color 100ms linear;
  -ms-transition: color 100ms linear;
  -o-transition: color 100ms linear;
  transition: color 100ms linear;
}
.dropzone-tiny .dz-message .dropzone-preupload-title,
.dropzone-tiny .dz-message p {
  display: none;
}
.dropzone-tiny:hover .dz-message:before {
  color: #1B2431;
}


// dropdown 현재이미지
.dropzone {
    &.with-thumb, .with-thumb {
        @include flex-align-center;
        justify-content: space-between;

        .thumbnail {
            width: 114px;
            background: #e9ecef;
            padding: 7px;
            border: 1px solid #DBE0E4;
            border-radius: 3px;

            p {
                padding: 3px 0;
                margin: 0 0 5px;
                font-size: 12px;
                position: relative;
                text-align: left;

                button {
                    position: absolute;
                    width: 28px;
                    height: 28px;
                    background: $white;
                    color: $main-color;
                    border: 1px solid #DBE0E4;
                    border-radius: 2px;
                    padding: 0;
                    top: -3px;
                    right: 0;
                    z-index: 1;
                    i {
                        cursor: pointer !important;
                    }
                }
            }

            & + .dropzone-msg, & + .dz-message {
                width: calc(100% - 120px);
            }

            &.hide {
                // display: none !important;
                & + .dropzone-msg, & + .dz-message {
                    width: 100%;
                }
            }
        }
    }
}



.dropzone.dropzone-multi {
  border: 0;
  padding: 0;
  min-height: auto;
    &:hover {
        background: unset;
    }
}
  .dropzone.dropzone-multi .dz-message {
    display: none; }

    .dropzone.dropzone-multi .dropzone-panel {
        .dropzone-select, .dropzone-upload, .dropzone-remove-all {
            padding: 0.5rem 1rem;
            font-size: 0.875rem;
            font-weight: 500;
            line-height: 1.5;
            border-radius: 0.2rem;
            background-color: rgba(93, 120, 255, 0.1);
            color: #5d78ff;
            cursor: pointer;

            &:hover {
                background-color: #5d78ff;
                color: #ffffff;
            }
        }
    }

  .dropzone.dropzone-multi .dropzone-panel .dropzone-upload,
  .dropzone.dropzone-multi .dropzone-panel .dropzone-remove-all {
    display: none; }
  .dropzone.dropzone-multi .dropzone-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 0.75rem;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    background-color: #f4f6fa; }
    .dropzone.dropzone-multi .dropzone-item .dropzone-file {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1; }
      .dropzone.dropzone-multi .dropzone-item .dropzone-file .dropzone-filename {
        font-size: 0.9rem;
        font-size: 13px;
        font-weight: 500;
        color: #595d6e;
        text-overflow: ellipsis;
        margin-right: 0.5rem; }
        .dropzone.dropzone-multi .dropzone-item .dropzone-file .dropzone-filename b {
          font-size: 0.9rem;
          font-size: 13px;
          font-weight: 500;
          color: #a2a5b9; }
      .dropzone.dropzone-multi .dropzone-item .dropzone-file .dropzone-error {
        margin-top: 0.25rem;
        font-size: 0.9rem;
        font-size: 13px;
        font-weight: 400;
        color: #fd397a;
        text-overflow: ellipsis; }
    .dropzone.dropzone-multi .dropzone-item .dropzone-progress {
      width: 15%; }
      .dropzone.dropzone-multi .dropzone-item .dropzone-progress .progress {
        height: 5px;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
        @media (prefers-reduced-motion: reduce) {
          .dropzone.dropzone-multi .dropzone-item .dropzone-progress .progress {
            -webkit-transition: none;
            transition: none; } }
    .dropzone.dropzone-multi .dropzone-item .dropzone-toolbar {
      margin-left: 1rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
      .dropzone.dropzone-multi .dropzone-item .dropzone-toolbar .dropzone-start,
      .dropzone.dropzone-multi .dropzone-item .dropzone-toolbar .dropzone-cancel,
      .dropzone.dropzone-multi .dropzone-item .dropzone-toolbar .dropzone-delete {
        height: 25px;
        width: 25px;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        cursor: pointer; }
        .dropzone.dropzone-multi .dropzone-item .dropzone-toolbar .dropzone-start i,
        .dropzone.dropzone-multi .dropzone-item .dropzone-toolbar .dropzone-cancel i,
        .dropzone.dropzone-multi .dropzone-item .dropzone-toolbar .dropzone-delete i {
          font-size: 0.8rem;
          color: #a2a5b9; }
        .dropzone.dropzone-multi .dropzone-item .dropzone-toolbar .dropzone-start:hover i,
        .dropzone.dropzone-multi .dropzone-item .dropzone-toolbar .dropzone-cancel:hover i,
        .dropzone.dropzone-multi .dropzone-item .dropzone-toolbar .dropzone-delete:hover i {
          color: #5d78ff; }
      .dropzone.dropzone-multi .dropzone-item .dropzone-toolbar .dropzone-start {
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
        @media (prefers-reduced-motion: reduce) {
          .dropzone.dropzone-multi .dropzone-item .dropzone-toolbar .dropzone-start {
            -webkit-transition: none;
            transition: none; } }
