/*-----------------------------------------------------------------------------------*/
/*  Footer
/*-----------------------------------------------------------------------------------*/
.go-to-top {
    bottom: 30px;
    left: calc(100% - 68px);
    margin-top: -78px;
    margin-bottom: 30px;
    position: sticky;
    transition: bottom .3s ease;
    width: 48px;
    z-index: 99;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
    opacity: 0;

    &.show {
        opacity: 1;
    }

    a {
        background: $black;
        color: $white;
        border-radius: 50%;
        box-shadow: 0 5px 6px 0 rgba(0, 0, 0, .25);
        height: 48px;
        width: 48px;
        @include flex-align-center;
        justify-content: center;
        & > span {
            font-size: 30px;
            font-weight: 100;
        }
    }
}

footer {
    border-top: 1px solid #ccc;

    .footer-container {
        .each-wrapper {
            display: flex;
            display: -webkit-flex;
            justify-content: space-between;
            flex-direction: column;
            min-height: 300px;
            padding: 40px 30px;
            border-right: 1px solid #ccc;

            @media (max-width: 1199px) {
                padding: 40px 34px 40px 12px;
            }
        }

        & > div {
            &:first-child {
                .each-wrapper {
                    padding-left: 0;
                }
            }
            &:last-child {
                .each-wrapper {
                    padding-right: 0;
                    border-right: 0;
                }
            }

            @media (max-width: 991px) {
                &.col-md-12 {
                    border-bottom: 1px solid #ccc;
                    .each-wrapper {
                        border-right: 0;
                        min-height: 200px;
                    }
                }

                &:nth-child(2) {
                    .each-wrapper {
                        padding-left: 0;
                    }
                }
            }

            @media (max-width: 575px) {
                .each-wrapper {
                    min-height: unset !important;
                    border-right: 0 !important;
                    padding: 0;
                }
                &.col-md-12 {
                    border-bottom: 0;
                }
            }
        }

        .company-name {
            @include font-secondary;
            font-size: 15px;
            font-weight: 700;

            @media (max-width: 575px) {
                margin: 30px 0;
                p {
                    margin-bottom: 5px;
                }
            }
        }

        .tit {
            @include font-secondary;
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 15px;

            @media (max-width: 575px) {
                display: none;
            }
        }

        ul {
            padding: 0;
            margin: 0;
            li {
                display: block;
                margin-bottom: 7px;
                a {
                    color: $black;
                    font-size: 14px;
                    font-weight: 300;
                    // &:hover {
                    //     font-weight: 400;
                    // }
                }
            }
            @media (max-width: 575px) {
                display: flex;
                display: -webkit-flex;
                li {
                    @include flex-align-center;
                    margin-bottom: 10px;
                    &::after {
                        content: '';
                        display: block;
                        width: 1px;
                        height: 10px;
                        background-color: #b1b1b1;
                        margin: 0 10px;
                    }

                    &:last-child {
                        &::after {
                            content: none;
                        }
                    }

                    a {
                        font-size: 13px;
                    }
                }
            }
        }
    }

    @media (max-width: 575px) {
        .sns-icon-wrapper {
            margin: 20px 0 30px;
            a {
                width: 30px;
                height: 30px;
                @include flex-align-center;
                justify-content: center;
                background: $black;
                border-radius: 50%;
                color: $white;
                font-size: 15px;
            }
        }

        .mb-copyright {
            margin-bottom: 30px;
            .copyright-wrapper {
                font-size: 12px !important;
            }
        }
    }


    // 간단한 푸터
    .footer-simple-container {
        .each-wrapper {
            padding: 40px 0;

            .company-name {
                @include font-secondary;
                font-size: 15px;
                font-weight: 700;
                margin-bottom: 5px;

                p {
                    margin-bottom: 0;
                }

                @media (max-width: 575px) {
                    margin: 30px 0;
                    p {
                        margin-bottom: 5px;
                    }
                }
            }
        }

        .footer-legal-links {
            margin-bottom: 40px;

            a {
                position: relative;
                padding-right: 15px;
                font-size: 15px;
                color: var(--bs-gray-600);
                & + a {
                    padding: 0 15px;

                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 50%;
                        margin-top: -5px;
                        display: block;
                        width: 1px;
                        height: 10px;
                        background: var(--bs-gray-400);
                    }
                }
            }
        }
    }
}
