/*-----------------------------------------------------------------------------------*/
/*  Form custom
/*-----------------------------------------------------------------------------------*/
// common
.form-control {
    font-size: 14px;
    padding: 8px 12px;
    color: $black;
    // border-color: #dcdee0;
    border-color: #Dbe0e4;
    border-radius: 4px;

    &:hover {
        background: #f5f5f5;
    }

    &:active, &:focus {
        border-color: $black;
        box-shadow: none;
    }
}


// form-floating
.form-floating {
    & > .form-control,
    & > .form-control-plaintext {
        height: 46px;
        min-height: 46px;
    }

    & > .form-control-plaintext:focus,
    & > .form-control-plaintext:not(:placeholder-shown),
    & > .form-control:focus,
    & > .form-control:not(:placeholder-shown) {
        padding-top: 21px;
        padding-bottom: 9px;
    }


    & > label {
        font-size: 14px;
        padding: 12px;
    }

    & > .form-control-plaintext ~ label,
    & > .form-control:focus ~ label,
    & > .form-control:not(:placeholder-shown) ~ label,
    & > .form-select ~ label {
        color: rgba(var(--bs-body-color-rgb), .7);
        transform: scale(.75) translateY(-.5rem) translateX(.25rem);

        &::after {
            background: unset;
        }
    }

    & > .form-control-plaintext ~ label::after,
    & > .form-control:focus ~ label::after,
    & > .form-control:not(:placeholder-shown) ~ label::after,
    & > .form-select ~ label::after {
        height: 16px;
    }


    // select-2
    .select2-container {
        .select2-selection--single {
            height: 46px;
        }
        &.select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 56px;
        }
    }
}






/*-----------------------------------------------------------------------------------*/
/*  app-checkbox
/*-----------------------------------------------------------------------------------*/
.app-checkbox, .app-radio {
    line-height: 22px;
    margin: 10px 0px;
    // float: left;
    width: 100%;
}
.app-checkbox.without-label-txt, .app-radio.without-label-txt {
    height: 20px;
}
.app-checkbox label, .app-radio label {
    padding-left: 30px;
    font-weight: 400;
    position: relative;
    cursor: pointer;
    margin-bottom: 0px;
    line-height: 1.5;
}
.app-checkbox.without-label-txt label, .app-radio.without-label-txt label {
    display: block;
}
.app-checkbox.st-01 label, .app-radio.st-01 label {
    padding-left: 30px;
    font-size: 13px;
}
.app-checkbox label span, .app-radio label span {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
}
/* Radio */
.app-radio label span:after {
    content: " ";
    background: #454545;
    width: 12px;
    height: 12px;
    left: 4px;
    top: 4px;
}
.app-radio.round label span:before,
.app-radio.round label span:after {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.app-checkbox label, .app-radio label {
    position: relative;
    cursor: pointer;
	color: #454545;

    font-size: 15px;
    color: $black;
}
input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.app-checkbox label input, .app-radio label input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    opacity: 0;
    z-index: 3;
    margin: 0px;
    cursor: pointer;
}

input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}
input[type="checkbox"], input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
.app-checkbox label span.label-checking, .app-radio label span.label-checking {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
}
.app-checkbox label span.label-checking:before, .app-radio label span.label-checking:before {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    width: 20px;
    height: 20px;
    border: 1px solid #Dbe0e4;
    background: #FFF;
    content: " ";
}

.app-checkbox label input:checked + span.label-checking:after, .app-radio label input:checked + span.label-checking:after {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}
.app-checkbox label span.label-checking:after {
    content: "\f00c";
    font-family: "FontAwesome";
    font-size: 14px;
	font-weight: 400;
    text-align: center;
    line-height: 20px;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
}
.app-checkbox label span.label-checking:after, .app-radio label span.label-checking:after {
    position: absolute;
    z-index: 2;
    color: #454545;
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: transform 100ms cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: transform 100ms cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -ms-transition: transform 100ms cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: transform 100ms cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 100ms cubic-bezier(0.8, -0.33, 0.2, 1.33);
}


.app-checkbox label input,
.app-radio label input {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  opacity: 0;
  z-index: 3;
  margin: 0px;
  cursor: pointer;
}
.app-checkbox label input:checked + span:after,
.app-radio label input:checked + span:after {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.app-checkbox label input:disabled + span,
.app-radio label input:disabled + span {
  opacity: 0.5;
}
.app-checkbox label span,
.app-radio label span {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
}
.app-checkbox label span:before,
.app-radio label span:before {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 20px;
  height: 20px;
  border: 1px solid #Dbe0e4;
  background: #FFF;
  content: " ";
}
.app-checkbox label span:after,
.app-radio label span:after {
  position: absolute;
  z-index: 2;
  color: #454545;
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: transform 100ms cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: transform 100ms cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -ms-transition: transform 100ms cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: transform 100ms cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 100ms cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.app-checkbox.inline,
.app-radio.inline {
  display: inline-block;
  margin-right: 20px;
  float: none;
  width: auto;
}
.app-checkbox.inline:last-child,
.app-radio.inline:last-child {
  margin-right: 0px;
}
.app-checkbox label span:after {
  content: "\e928";
  font-family: "xeicon";
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
}
.app-checkbox.success label {
  color: #76AB3C;
}
.app-checkbox.success label span:before {
  border-color: #76AB3C;
}
.app-checkbox.success label span:after {
  color: #76AB3C;
}
.app-checkbox.primary label {
  color: var(--bs-primary);
}
.app-checkbox.primary label span:before {
  border-color: var(--bs-primary);
}
.app-checkbox.primary label span:after {
  color: var(--bs-primary);
}
.app-checkbox.warning label {
  color: #F69F00;
}
.app-checkbox.warning label span:before {
  border-color: #F69F00;
}
.app-checkbox.warning label span:after {
  color: #F69F00;
}
.app-checkbox.danger label {
  color: #F04E51;
}
.app-checkbox.danger label span:before {
  border-color: #F04E51;
}
.app-checkbox.danger label span:after {
  color: #F04E51;
}
.app-radio label span:after {
  content: " ";
  background: #454545;
  width: 12px;
  height: 12px;
  left: 4px;
  top: 4px;
}
.app-radio.round label span:before,
.app-radio.round label span:after {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.app-radio.success label {
  color: #76AB3C;
}
.app-radio.success label span:before {
  border-color: #76AB3C;
}
.app-radio.success label span:after {
  background: #76AB3C;
}
.app-checkbox.primary label {
  color: var(--bs-primary);
}
.app-checkbox.primary label span:before {
  border-color: var(--bs-primary);
}
.app-checkbox.primary label span:after {
  color: var(--bs-primary);
}
.app-radio.warning label {
  color: #F69F00;
}
.app-radio.warning label span:before {
  border-color: #F69F00;
}
.app-radio.warning label span:after {
  background: #F69F00;
}
.app-radio.danger label {
  color: #F04E51;
}
.app-radio.danger label span:before {
  border-color: #F04E51;
}
.app-radio.danger label span:after {
  background: #F04E51;
}
// .input-group .input-group-addon .app-checkbox,
// .input-group .input-group-addon .app-radio {
//   margin: 0px;
// }
// .input-group .input-group-addon .app-checkbox label,
// .input-group .input-group-addon .app-radio label {
//   float: left;
//   padding-left: 20px;
//   margin-top: -10px;
// }
.table .app-checkbox,
.table .app-radio {
  margin: 0px;
  width: 20px;
}
//custom
.app-checkbox {
    &.block-black {
        label {
            color: $black;

            input:checked {
                & ~ span {
                    &::before {
                        background: $black;
                        border-color: $black;
                    }
                    &::after {
                        color: $white;
                    }
                }
            }

        }
    }
    &.block-success {
        label {
            color: #555;

            input:checked {
                & ~ span {
                    &::before {
                        background: var(--bs-success);
                        border-color: var(--bs-success);
                    }
                    &::after {
                        color: $white;
                    }
                }
            }

        }
    }
}
