/*-----------------------------------------------------------------------------------*/
/*  Lagal Info - /privacy-policy/, /terms-and-conditions/
/*-----------------------------------------------------------------------------------*/
.legal-info-container {
    margin: 50px 0 100px;
    font-weight: 300;

    h1 {
        @include font-secondary;
        font-weight: 600;
        letter-spacing: -2px;
    }

    .introduction-wrapper {
        .date-info {
            margin-top: 30px;
            @include font-secondary;
            font-size: 15px;
            font-weight: 400;
            span {
                font-weight: 500;
            }
        }

        .introduction {
            margin-top: 10px;
            p {
                margin-bottom: 0;
            }
        }
    }


    .content-wrapper {
        margin-top: 20px;
        padding-top: 40px;
        border-top: 1px solid $black;

        h3 {
            @include font-secondary;
            font-weight: 600;
            letter-spacing: -1px;
            margin-bottom: 0;

            @media (min-width: 1200px) {
                font-size: 1.55rem;
            }
        }

        .btn-view-all, .btn-close-all {
            font-size: 14px;
            font-weight: 300;
            line-height: 1;
            text-transform: capitalize;
            padding: 7px 15px;
            border: 1px solid $black;
            border-radius: 4px;
            background: $white;
            &:hover {
                background: #f5f5f5;
            }
        }

        .btn-close-all {
            display: none;
        }

        // 각 섹션
        .each-content {
            margin-top: 30px;

            .title {
                cursor: pointer;

                h4 {
                    margin-bottom: 0;
                    font-size: 1.2rem;
                    font-weight: 400;
                    @media (min-width: 1200px) {
                        font-size: 1.3rem;
                    }
                }

                i {
                    vertical-align: -5px;
                    font-size: 19px;
                }

                .hide-content {
                    display: none;
                }

                &.shown {
                    h4 {
                        font-weight: 500;
                    }
                    .show-content {
                        display: none;
                    }
                    .hide-content {
                        display: block;
                    }
                }
            }

            .content {
                margin-top: 20px;
                margin-bottom: 50px;
                display: none;

                // .alphabetical-list {
                //     ol, ul {
                //         padding-left: 1rem;
                //     }
                // }
            }

        }
    }


    table {
        // border: 1px solid #494443;
        border-collapse: collapse;
        background: $white;
        word-break: keep-all;
        // font-size: 15px;


        // th, td {
        //     border: 1px solid $black;
        // }
        //
        // thead {
        //     th {
        //         padding: 1rem 0;
        //         background: #d9d9d9;
        //         font-weight: 500;
        //         text-align: center;
        //     }
        // }
        //
        // tbody {
        //     th, td {
        //         padding: 1rem .6rem;
        //     }
        //
        //     th {
        //         font-weight: 400;
        //     }
        // }
        ul {
            padding-left: 1.2rem;
            li {
                position: relative;
                list-style: none;
                margin-bottom: 3px;
                &::before {
                    content: "";
                    position: absolute;
                    top: 10px;
                    left: -14px;
                    width: 4px;
                    height: 4px;
                    background: $black;
                    border-radius: 50%;
                }
            }
        }

        @media (max-width: 575px) {
            display: block;
            thead {
                display: none;
            }

            tbody {
                th, td {
                    display: block;
                    padding: 0;
                    border: 0;
                }

                th {
                    padding-left: 1rem;
                    margin-bottom: 5px;
                    &::before {
                        counter-increment: stepsNum;
                        content: counter(stepsNum);
                        border: 1px solid #949494;
                        border-radius: 50%;
                        width: 14px;
                        height: 14px;
                        display: inline-block;
                        text-align: center;
                        font-size: 10px;
                        line-height: 1.3;
                        position: absolute;
                        left: -20px;
                        top: 4px;
                    }
                }

                td {
                    padding-left: 2rem;
                }
            }
        }
    }
}
