/*-----------------------------------------------------------------------------------*/
/*  Log in /login/
/*-----------------------------------------------------------------------------------*/
.login-container {
    margin: 70px 0;
    h1 {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .login-info {
        margin-bottom: 20px;

        .btn-main {
            width: 100%;
            padding: 13px 10px;
            border: 1px solid $black;
            border-radius: 4px;
            background: $black;
            color: $white;
            font-size: 17px;
            &:hover {
                background: var(--bs-gray-900);
                border-color:  var(--bs-gray-900);
            }
        }
    }

    .login-wrapper {

        .btn-find-psw {
            border: 0;
            background: 0;
            font-size: 15px;
            font-weight: 300;
            padding: 0;
        }

        .btn-register {
            display: block;
            width: 100%;
            padding: 13px 10px;
            border: 1px solid $black;
            border-radius: 4px;
            background: $white;
            color: $black;
            font-size: 17px;
        }

        .or-wrapper {
            margin: 50px 0 40px;
            p {
                position: relative;
                font-size: 14px;
                text-align: center;
                color: $black;
                margin: 0;

                span {
                    background: $white;
                    padding: 0 15px;
                    &::after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        top: calc(50% - 2px);
                        left: 0;
                        background: #ccc;
                        z-index: -1;
                    }
                }
            }
        }
    }



    .find-pw-wrapper {
        display: none;

        .btn-to-login {
            border: 0;
            padding: 0;
            background: unset;
        }
    }

    .reset-pw-wrapper {
        // .btn-reset-instructions {
        //     width: 100%;
        //     padding: 13px 10px;
        //     border: 1px solid $black;
        //     border-radius: 4px;
        //     background: $black;
        //     color: $white;
        //     font-size: 17px;
        //     &:hover {
        //         background: var(--bs-gray-900);
        //         border-color:  var(--bs-gray-900);
        //     }
        // }
    }
}


// 회원가입 - /registration/
.registration-wrapper {}
.visible-pw {
    .show-password, .hide-password {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 26px;
        color: var(--bs-gray);
        cursor: pointer;
        z-index: 1;
    }

    .hide-password {
        display: none;
    }
}

// Password Strength
.password-strength-wrapper {
    margin-top: 10px;

    .password-strength {
        font-size: 14px;
        font-weight: 300;
        color: var(--bs-gray);
        i {
            font-size: 17px;
            vertical-align: -2px;
            margin-right: 3px;
        }

        &.on {
            color: $red;
        }

        &.complete, &.on.complete {
            color: var(--bs-green);;
        }
    }
}

.caution-text {
    margin-top: 7px;
    padding-left: 15px;
    font-size: 13px;
    color: $red;
}
