/*-----------------------------------------------------------------------------------*/
/*  Select2
/*-----------------------------------------------------------------------------------*/
.select2 {
    width: 100%;
}

.select2-container {
    font-size: 14px;

    .select2-selection--single {
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        height: 40px;
        user-select: none;
        -webkit-user-select: none;

        .select2-selection__rendered {
            display: block;
            padding-left: 12px;
            padding-right: 18px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .select2-selection__arrow {
            height: 100%;

            b {
                position: unset;
                border-color: transparent;

                &::after {
                    content: "\e943";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    font-family: xeicon;
                    font-size: 12px;
                    color: $black;
                    z-index: 0;
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
            }
        }
    }

    &.select2-container--default  {
        .select2-selection--single {
            border: 1px solid #Dbe0e4;
            border-radius: 4px;

            .select2-selection__rendered {
                color: $black;
                line-height: 39px;
            }

            &:hover {
                background: #f5f5f5;
            }
        }

        &.select2-container--open {
            .select2-selection__arrow {
                b {
                    border-color: transparent;
                    &::after {
                        content: "\e946";
                    }
                }
            }

            &.select2-container--below {
                .select2-selection--single, .select2-selection--multiple {
                    border: 1px solid $black;
                    border-bottom-color: #Dbe0e4;
                }
            }
        }

        .select2-search--dropdown {
            .select2-search__field {
                border: 1px solid #Dbe0e4;
                border-radius: 3px;
                padding-left: 9px;
            }
        }
    }
}

.select2-results__option {
    padding: 0 13px;
    line-height: 40px;

    &.select2-results__option--highlighted {
        &.select2-results__option--selectable {
            background: #f5f5f5;
            color: $main-color;
        }
    }

    &.select2-results__option--selected {
        &.select2-results__option--selectable {
            background: $main-color;
            color: $white;

            &:hover {
                background: $main-color;
                color: $white;
            }
        }
    }
}

.select2-dropdown {
    border: 1px solid $black;
    border-top: 0;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: 14px;
    -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}


.select2-container--default {
    .select2-results__option--selected {
        background-color: $white;
    }
}

.s2-select ~ .select2-container {
    width: 100%;
}
